//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
    max-width: 700px;
    margin: 4rem auto;

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;
}
/*


body {
    max-width: 700px;
    margin: 4rem auto;

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;

    background: url(/assets/images/unsplash.jpg) no-repeat center top;
    background-attachment: relative;
    background-position: center center;
    @include vendor(background-size, 100%);
    @include vendor(background-size, cover);

}


.app {
    background-color: rgba(255,255,255,0.7);
    padding: 2rem;
    min-height: 980px;
}

.nav a.active {
    font-color: rgba(120,120,120,0.5);
}

#title {
    font-size: 1.618em;
    margin-bottom: 1.618em;
}
*/

@import "misc";
